@font-face {
  font-family: 'Encode Sans SC';
  src: url('./font/EncodeSansSC-VariableFont_wdth\,wght.ttf');
}

body {
  margin: 0;
  background-color: rgb(11, 11, 11);
  font-family: 'Encode Sans SC';
}

a {
  color: white;
  text-decoration: none;
  margin: none;
}

a:hover {
  background-color: rgba(80, 80, 80, 0.548);
  border-radius: 6px;
  text-decoration: underline;
}

button {
  font-family: 'Encode Sans SC';
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: rgb(40, 102, 102);
  padding: 10px;
  border-radius: 4px;
  width: 85vw;
}

button:hover {
  background-color: rgb(18, 165, 165);
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/screenshot.png");
  background-size: cover;
  text-align: center;
  color: white;
  min-height: 200px;
}

#title {
  font-size: 60px;
}

#sub-title {
font-size: 20px;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 3px;
}

.page-link {
  padding: 1.5px;
}

.social-links {
  padding-right: 3px;
  font-size: 0;
}

.social-link {
  padding: 1px;
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 6px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 64vh;
}

#introduction-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  width: 98vw;
  color: white;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 5px;
}

@media screen and (min-width: 540px) and (max-width: 844px) {

  #headshot {
    width: 250px;
    height: 250px;
    border-radius: 2%;
  }
}
