@font-face {
  font-family: "Encode Sans SC";
  src: url("./font/EncodeSansSC-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  background-color: rgb(11, 11, 11);
  font-family: "Encode Sans SC";
}

a {
  color: white;
  text-decoration: none;
  margin: none;
}

.header-link:hover {
  background-color: rgba(80, 80, 80, 0.548);
  border-radius: 6px;
  text-decoration: underline;
}

.contact-button {
  display: flex;
  justify-content: center;
  font-family: "Encode Sans SC";
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgb(40, 102, 102);
  padding: 10px;
  border-radius: 4px;
  width: 85vw;
}

.contact-button:hover {
  background-color: rgb(18, 165, 165);
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/screenshot.png");
  background-size: cover;
  text-align: center;
  color: white;
  min-height: 200px;
}

.title {
  font-size: 60px;
  text-decoration: none;
}

#sub-title {
  font-size: 20px;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 3px;
}

.page-link {
  padding: 1.5px;
}

.social-links {
  padding-right: 3px;
  font-size: 0;
}

.social-link {
  height: 28px;
  width: 28px;
}

.social-link:hover {
  background-color: rgba(185, 185, 185, 0.5);
  border-radius: 4px;
}

#introduction-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  width: 98vw;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 64vh;
  color: white;
}

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 4px;
  height: 50vh;
  width: 95vw;
}

.project-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 4px;
  height: 50vh;
  width: 95vw;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45vh;
  width: 75vw;
}

.project-image {
  border-radius: "10px";
  background-position: "center";
  background-size: "cover";
  max-height: "250px";
  max-width: "250px";
}

.project-arrows {
  font-size: 23px;
}
