@font-face {
  font-family: "Encode Sans SC";
  src: url("./font/EncodeSansSC-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  background-color: rgb(11, 11, 11);
  font-family: "Encode Sans SC";
}

a {
  color: white;
  text-decoration: none;
  margin: none;
}

.header-link:hover {
  background-color: rgba(80, 80, 80, 0.548);
  border-radius: 6px;
  text-decoration: underline;
}

.contact-button {
  display: flex;
  justify-content: center;
  font-family: "Encode Sans SC";
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: rgb(40, 102, 102);
  padding: 10px;
  border-radius: 4px;
  width: 65vw;
  max-width: 1000px;
}

.contact-button:hover {
  background-color: rgb(18, 165, 165);
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/screenshot.png");
  background-size: cover;
  text-align: center;
  color: white;
  min-height: 200px;
}

.title {
  font-size: 60px;
  text-decoration: none;
}

#sub-title {
  font-size: 20px;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 3px;
}

.page-link {
  padding: 1.5px;
}

.social-links {
  padding-right: 3px;
  font-size: 0;
}

.social-link {
  height: 28px;
  width: 28px;
}

.social-link:hover {
  background-color: rgba(185, 185, 185, 0.5);
  border-radius: 4px;
}

.headshot {
  background-image: url('./images/headshot1.png');
  background-position: center;
  background-size: cover;
}

.headshot-container {
  border-radius: 4px;
  height: 420px;
  width: 340px;
}

.intro-section-desktop {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-bottom: 30px;
  margin-top: 30px;
}

#introduction-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  width: 61vw;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 5px;
}

#introduction-text-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  width: 100vw;
  text-align: center;
  font-size: 18.5px;
  letter-spacing: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: white;
}

.section-container-resume {
  display: flex;
  justify-content: space-between;
  width: 99vw;
}

.bio-section-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 4px;
  height: 450px;
  width: 370px;
}

.bio-section-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
}

.bio-text {
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-size: medium;
  text-align: center;
  padding-left: 2px ;
  padding-right: 2px ;
}

.resume {
  background-image: url('./images/resume.png');
  background-position: center;
  background-size: cover;
}

.resume-container {
  border-radius: 4px;
  height: 450px;
  width: 370px;
}

.resume-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71vw;
  padding: 5px;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 4px;
  height: 50vh;
  width: 95vw;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  height: 300px;
  width: 400px;
}

.internal-card {
  padding-top: 5px;
}

li.experience {
  padding: 7px;
}

li.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

p.footer-item {
  padding-right: 4px;
}

ul.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0px;
  width: 99vw;
}

.footer:hover {
  background-color: rgba(185, 185, 185, 0.5);
  border-radius: 3px;
  height: 30px;
}

.footer-link {
  height: 20px;
  width: 20px;
}

.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  background-image: url("./images/unsplashfooter4.png");
  background-size: cover;
  color: white;
  max-height: 100px;
}