@font-face {
  font-family: 'Encode Sans SC';
  src: url('./font/EncodeSansSC-VariableFont_wdth\,wght.ttf');
}

body {
  margin: 0;
  background-color: rgb(11, 11, 11);
  font-family: 'Encode Sans SC';
}

.project-list {
  background-color: white;
  height: 70vh;
  min-width: 100hw;
}

.header-image {
  width: 100vw;
  height: 45vh;
}

.image-overlay {
  color: white;
}

.image-container {
  position: relative;
  color: white;
}

.page-links {
  position: absolute;
  padding: 2px;
  bottom: 10px;
  left: 16px;
  font-size: 18px;
}

.social-links {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.link {
  padding: 3px;
}

.title {
  position: absolute;
  top: 37%;
  width: 100%;
  text-align: center;
  font-size: 80px;
}
