@font-face {
  font-family: 'Encode Sans SC';
  src: url('./font/EncodeSansSC-VariableFont_wdth\,wght.ttf');
}

body {
  margin: 0;
  background-color: rgb(11, 11, 11);
  font-family: 'Encode Sans SC';
}

a {
  color: white;
  text-decoration: none;
}

.project-list {
  background-color: white;
  height: 70vh;
  min-width: 100hw;
}

.header-image {
  width: 100vw;
  height: 45vh;
}

.image-overlay {
  color: white;
}

.image-container {
  position: relative;
  color: white;
}

.page-links {
  position: absolute;
  padding: 2px;
  bottom: 10px;
  left: 16px;
  font-size: 18px;
}

.social-links {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.link {
  padding: 3px;
}

.title {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 80px;
}

.sub-title {
  position: absolute;
  top: 58%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

#headshot {
  width: 350px;
  height: 350px;
  border-radius: 2%;
}

#bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  width: 50vw;
  color: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

@media screen and (max-width: 540px) {
  #bio {
    width: 90vw;
  }

  .section-container {
    flex-direction: column-reverse;
    height: 750px;
  }

  .header-image {
    height: 300px;
  }

  .title {
    top: 25%;
  }
}

@media (orientation: landscape) {
  .header-image {
    height: 340px;
  }
  .title {
    top: 30%;
  }

  .section-container {
    height: 340px;
  }

  #headshot {
    width: 250px;
    height: 250px;
    border-radius: 2%;
  }

  #bio {
    font-size: 16.5px;
  }
}
